{{> navbar}}

<div class="container">

    {{#if areMenus}}
		<h1>Meniurile mele</h1>
		<hr>
		
		{{#each menus}}	
			<h4>Meniul de 
				<strong>{{menuDateFormated}}</strong> 
				<small style="font-size:14px"></small>
			</h4>
			
			<ul class="list-group">
				{{#each dishes}}
					<li class="list-group-item" style='border: 0 none;'>	
						{{#if option}}
							<strong>{{option}}.</strong>
						{{/if}}
						<span class="text-muted">{{name}}</span>
						{{#if isFasting}}
							<span ng-if="dish.isFasting">(post)</span>
						{{/if}}
                        
                        {{#if isMyOption}}
                            </br>
                            <span class="label label-success" style="font-size:12px; padding: 4px; font-weight:400">
                                <span class="glyphicon glyphicon-ok"></span>
                                Optiunea mea
                            </span>
                        {{/if}}
                        {{#if isNotMyOption}}
                            </br>
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-pushpin" style="color:#337ab7"></span>
                                <a class="changePreferenceBtn" href="#" 
                                    data-menu-date="{{../../menuDate}}"
                                    data-category = "{{../category}}"
                                    data-selected-option = "{{../option}}"
                                    >Da, vreau! {{../menuDate}}</a>
                            </button>  
                        {{/if}}                                             
                        
                        <br/>
						<span class="text-muted">{{description}}</span>

					</li>
				{{/each}}
			</ul>					
			<hr>				
		{{/each}} 
        
	{{else}}
		<h4> Nu exista meniuri pentru perioada urmatoare!</h4>
	{{/if}}

</div>

{{#section 'script'}}
    <script src="/views/menu/menu.js"></script>
{{/section}}