{{> navbar}}

<div class="container">

    {{#if menuHasDishes}}
		<h1>Meniul de astazi<small class="text-muted"> ({{menuDate}})</small></h1>
		<hr>
		{{#each menu.dishes}}			
			<h4 class="media-heading">
				{{#if option}}
					<span>{{option}}.</span>
				{{/if}}
				{{name}}
			</h4>
			<div style="color:gray">{{description}}</div>
			{{#if calories}}
				<div style="color:gray">{{calories}} calorii</div>
			{{/if}}	
			</br>		
			
		{{/each}} 	
	{{else}}
		<h4> Pentru astazi <span class="text-muted">({{menuDate}})</span> nu exista meniu!</h4>
	{{/if}}

</div>

<!--ng-repeat="dish in todaysMenu.dishes | orderBy:['category', 'option']-->